:root {
    --prim: #77D2F9;
    --sec: #ffffff;
    --thir: #FFE5B4;
}

/*making color variables, use them or add to them to make life easier. 
if you don't know how to use them, just do "--(variable name)" and vscode will complete it for you*/

header {
    display: flex;
    /*styling the header blue and making it go into the middle*/
    flex-direction: column;
    background-color: var(--prim);
    margin: 40px 0px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    width: 300px;
    justify-self: center;
}